@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      justify-content: space-around
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-top
      padding-top: 24px
    &-menu
      display: none
    &__search
      display: none
    &__user
      display: none
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        height: 11px
        width: 16px
        padding: 0
        border: none
        background-color: $white
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
    width: 60px
  .hotel
    padding-top: 0
    &-stars
      margin-right: 5px
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__description
        margin-bottom: 38px
  .swiper-container
    &__position
      margin: 0
  .slider
    max-width: 700px
@media (max-width: 576px)
  .container
    width: 88%
  .logo
    width: 99px
