@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      margin: 0
    &-slider
      width: 590px
  .swiper-slide
    &__img
      height: 100%
      width: 100%
      object-fit: cover
  .activities
    &__title
    &-wrapper
  .card
    width: 230px
    height: 230px
    &::before
    &__image
    &__title
      &--first
      &--second
    &--third
      &--last
    &__button
  .packages
    &-first
      &__img
        min-width: 300px
      &__info
        padding: 46px 21px 30px 30px
        // max-width: 300px
  .footer
    &__title
    &__additional
      width: 253px
      margin-left: 0
    &__legal
      width: 197px
      margin-left: 24px
    &-wrapper
      grid-template-columns: repeat(4, minmax(min-content, 1fr))
    &__input
      width: 100%
      &--phone
        margin-top: 0
      &-wrapper
        width: 100%
      &-group
        width: 230px
    &__contact-form

@media (max-width: 992px)
  .container
    max-width: 700px
  .newsletter
    padding-top: 92px
    padding-bottom: 93px
    &-wrapper
      max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      justify-content: space-around
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
  .user
    &:hover
      text-shadow: none
  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .booking
    padding: 28px 22px 25px 22px
    width: 340px
    height: 210px
    &__position
      margin-right: 25px
  // .map
  //   with: 340px
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        padding: 0 60px 30px 64px
        max-width: 579px
        height: 300px
        &::before, &::after
          display: none
      &__profile
        margin-bottom: 32px
      &__text
        max-width: 455px
        height: 135px
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding: 48px 0 50px 0
    &__title
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .packages
    padding: 0 0 70px 0
    &__title
      font-size: 30px
    &-wrapper
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, 500px)
    &-first
      &__img
        flex-basis: 50%
        height: 100%
        max-width: 335px
      &__offer
      &__info
        padding: 46px 21px 30px 34px
        max-width: 364px
      &__title
      &__room
      &__price-card
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 40px
    &-logo
      max-width: 96px
      margin-top: 0
      grid-row: 1 / 2
      &--position
        margin-top: 0
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: 5px
    &__additional
      width: 260px
      grid-column: span 2
      margin-left: -55px
      margin-top: 5px
    &__legal
      width: 205px
      grid-column: span 2
      margin-left: 0
      margin-top: 5px
    &__social-network
      grid-row: 1 / 2
      grid-column: span 4
      align-self: center
      margin-top: 25px
      margin-left: 50px
    &__contact-details
      grid-row: 3
      grid-column: span 5
    &__contact-form
      grid-row: 4
      grid-column: span 3
      margin-top: 19px
      margin-left: 0
      width: 539px
    &__input
      flex-basis: auto
      &--phone
        margin-top: 0
      &-wrapper
        width: 100%
      &-group
        width: 255px
    &__title
      margin-bottom: 19px
      &--contact
        margin-top: 18px
        margin-bottom: 25px
    &__ul
      &--contact
        margin-left: 7px
    &__bottom
      justify-content: space-between
      margin-top: 56px
      margin-left: 2px
    &__payment
      margin-left: 0
  .modal
    &__dialog
      padding: 33px 7%
    &__info
      padding-top: 10px
      padding-bottom: 10px
  .button
    &:hover
      background-color: $primary
      background-image: none
      box-shadow: none
  .link
    &:hover
      text-decoration: none
  .shadow
    &:hover
      outline: 0
      box-shadow: none
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 70px
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
    &-title
      &--position
        margin-bottom: 37px
  .navbar
    &-fixed
      position: fixed
      z-index: 50
      left: 0
      top: 0
      right: 0
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 30px
      &--visible
        display: block
        overflow-y: auto

    &-top
      padding-top: 24px
    &-menu
      flex-direction: column
      padding-top: 0
      // // max-height: 480px
      // overflow-y: auto
      &__item
        margin-bottom: 16px
        &--mobile
          &--visible
            display: block
        &--name
          margin-bottom: 20px
        &--search
          margin-top: 2px
          margin-bottom: 39px
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          // overflow: auto

    &__user
      flex-direction: column
      &--name
    &__search
      margin-top: 4px
      margin-left: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      height: 11px
      width: 16px
      padding: 0
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
      &__item
        margin-bottom: 39px
        margin-left: 0
        display: flex
  .user
    margin-top: 2px
    &__name
      color: $white
      margin-left: 0
      margin-top: 10px
  .search
    &__input
      max-width: 245px
      border-radius: 5px
    &__button
      border-bottom-right-radius: 1px
      border-top-right-radius: 1px
      height: 100%
  .stars
    flex-basis: auto
    width: 60px
  .hotel
    padding-top: 0
    &-stars
      margin-right: 5px
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      margin-bottom: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__description
        margin-bottom: 18px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
      height: 350px
      &__button
        width: 12px
        height: 12px
        &--prev
          left: 9px
        &--next
          right: 9px
        &__img

    &-right
      flex-direction: column
    &__slider
      margin-bottom: 20px
  .booking
    padding: 29px 22px 26px 22px
    width: 100%
    &--position
      margin-bottom: 20px
  .map
    width: 100%
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 50px
    &-slider
      &__item
        padding: 0 29px 36px 33px
        &::before, &::after
          display: none
      &__profile
        margin-bottom: 32px
        margin-right: 6px
      &__text
        margin-top: 136px
        height: 135px
        max-width: 78%
      &__button
        position: absolute
        top: 32px
        left: 50%
        transform: translate(-50%, 0)
        &--prev
          margin-left: -92px
          // left: 37px
          // left: 50%
          // transform: translate(-50%, 0)
        &--next
          margin-left: 89px
          // right: 37px
          // transform: translate(50%, 0)
  .activities
    &__title
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
    &__card
      margin: 0 0 20px 0
  .card
    width: 45%
    height: 255px
  .packages
    padding: 0 0 70px 0
    &__title
      font-size: 24px
      margin-bottom: 57px
    &-wrapper
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: 1fr repeat(4, 500px)
      column-gap: 0
      row-gap: 30px
    &-card
      border-radius: 8px
      overflow: hidden
      position: relative
      display: flex
      flex-direction: column
    &-img
      width: 100%
      object-fit: cover
    &-info
      &__title
        font-size: 18px
        margin-top: 0
        margin-bottom: 23px
      &__text
        font-size: 14px
        margin: 0
        overflow: auto
        height: 100px
        display: none
    &-first
      display: flex
      grid-column-start: auto
      flex-direction: column
      &__img
        flex-basis: auto
        min-width: 100%
        height: 250px
      &__offer
        font-weight: 600
        font-size: 12px
        line-height: 15px
        width: 95px
        height: 30px
        padding: 8px 12px 7px 11px
      &__info
        padding: 30px 21px 30px 32px
        min-width: 100%
      &__title
        margin-top: 5px
        margin-bottom: 23px
      &__room
        margin-top: 10px
        margin-bottom: 24px
        margin-left: 0
      &__price-card
        margin-left: 0
      &__description
        display: block
  .footer
    padding-top: 68px
    &-wrapper
      grid-template-columns: 1fr
    &-logo
      max-width: 96px
      grid-row: 1
      grid-column: 1
    &__categories
      width: 100%
      grid-row: 5
      grid-column: 1
      margin-top: -10px
    &__additional
      width: 100%
      grid-row: 4
      grid-column: 1
      margin-left: 0
      margin-top: -10px
    &__legal
      max-width: 100%
      grid-row: 3
      grid-column: 1
      margin-top: -13px
    &__social-network
      width: 100%
      grid-row: 2
      grid-column: 1
      margin-left: 0
      display: flex
      flex-direction: column
      margin-top: 2px
    &__social-links
      margin-top: 2px
      margin-left: 2px
    &__link
      &--facebook
        margin-left: 0
    &__text
      &--position
        margin-bottom: 22px
    &__contact-details
      grid-row: 6
      grid-column: 1
      margin-top: 0px
    &__contact-form
      width: 100%
      grid-row: 7
      grid-column: 1
    &__input
      flex-basis: 100%
      &--phone
        margin-top: 15px
      &-wrapper
        width: 100%
        flex-direction: column
      &-group
        width: 100%
        flex-basis: 100%
        flex-direction: row
        flex-wrap: wrap
    &__message
      width: 100%
    &__title
      margin-bottom: 16px
      &--inline
        margin-top: 0
        margin-bottom: 19px

      &--contact
        margin-top: 0
        margin-bottom: 24px
    &__ul
      &--contact
        margin-left: 0px
    &__contact-icon
      width: 18px
      margin-right: 10px
      margin-left: -2px
      margin-left: 3px
      &--marker
        width: 14px
        margin-top: 4px
        margin-left: 4px
        margin-right: 12px
        margin-bottom: 20px
      &--phone
        margin-top: 26px
      &--mail
        margin-top: 5px
    &__contact-text
      margin-top: 24px
      margin-bottom: 22px
    &__form
      margin-top: 0
    &__message
      margin-bottom: 15px
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 1

    &__bottom
      justify-content: start
      flex-direction: column
      margin-top: 23px
      margin-left: 0
    &__disclaimer
      margin-bottom: 10px
    &__payment
@media (max-width: 576px)
  .container
    width: 88%
  .logo
    width: 100px
  .hotel
    padding-bottom: 24px
    &-slider
      height: 210px
  .subscribe
    width: 350px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      width: 88%
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 4px
  .reviews
    &-title

    &-slider
      &__item
        height: 388px
      &__profile
        margin-bottom: 32px
      &__text
        margin-top: 136px
        text-align: left
        min-height: 60%
      &__button
  .activities
    padding: 22px 0 40px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 33px
    &-wrapper
      flex-wrap: wrap
      justify-content: center
    &__card
      margin: 0
      margin-bottom: 20px
      &--position
        order: -1
        margin-bottom: 28px
      &--one
        order: -2
  .card
    width: 100%
    max-width: 100%
    height: 255px
    &__image
  .packages
    &__title
      font-size: 18px
      margin-bottom: 24px
    &-info
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 29px 22px 30px 22px
      height: 100%
      &__title
        margin-bottom: 10px
      &__text
        display: none
        min-height: 40%
    &-stars
      position: absolute
      right: 10px
      top: 280px
    &-first
      &__title
        margin-top: 0
        width: 50%
        order: -1
      &__info
      &__room
        margin-bottom: 20px
  .modal
    &__dialog
      padding: 33px 25px 25px 25px
      min-width: 348px
    &__info

@media (max-width: 410px)
  .subscribe
    width: 100%
  .reviews
    &-title
      max-width: 245px
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
    &-slider
      &__item
        height: 438px
      &__username
        margin-top: 12px
        line-height: 14px
      &__text
        height: 270px
  .packages
    &-wrapper
      grid-template-rows: repeat(5, fr)
    &__title
      font-size: 18px
    &-img
      min-height: 250px
    &-info
      height: 100%
      &__text
        height: 50%
    &-first
      &__title
        min-width: 155px
  .modal
    &__dialog
      padding: 25px 20px 20px 20px
      min-width: 300px
    &__info
      flex-basis: 100%
      text-align: right
      padding: 0
      margin-bottom: 15px
    &__button
      order: 1
      width: 100%
@media (max-width: 320px)
  .hotel
    &-slider
      height: 179px
  .map
    height: 172px
  .map-block
    height: 172px
  .reviews
    &__button
    &-slider
      &__text
        height: 270px
  .packages
    &-info
      &__text
        height: 52%
  .modal
    &__dialog
      padding: 25px 20px 20px 20px
      min-width: 290px
    &__info
      flex-basis: 100%
