*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
img
  margin: 0
  max-width: 100%
li
  list-style-type: none
ul
  padding: 0
.input
  height: 50px
  border-radius: 4px
  padding: 0 23px
  border: none
  outline: 0
  margin-bottom: 15px
  &::placeholder
    color: $placeholder-color
.message
  height: 123px
  border-radius: 4px
  padding: 18px 23px
  outline: 0
  border: none
  margin-bottom: 15px
  resize: none
  overflow: auto
  &::placeholder
    color: $placeholder-color
.invalid
  color: $primary
  font-size: 12px
  font-weight: bold
.button
  &:hover
    background-color: #F03F51
    background-image: linear-gradient(45deg, #EC1F46 0%, #f55666 50%, #f56b99 100%)
    box-shadow: inset 0 0 4px #8f1a37
.link
  &:hover
    text-decoration: underline
.shadow
  &:hover
    outline: 0
    box-shadow: 0px 0px 5px #dd879c
